@charset "UTF-8";
/* CSS Document */

.content-wrapper {
  	display: block;
 	margin: auto;
  	max-height: 1298px;
  	max-width: 1280px;
}

html{
	background: url("images/backdrop.png") no-repeat center center fixed;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #171717;
    margin-top: 40px;
}

.a{
    width: 285px;
    height: 353px;
}

.logos{
    margin-top: 11px;
}

.ie{
    margin-left: 129px;	
}

h2{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #171717;
}