html, body {
    /* Fix scroll issue */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-wrapper {
  	display: block;
 	margin: auto;
  	max-height: 1298px;
  	max-width: 1280px;
}

html{
	background: url("images/bg.png") no-repeat center center fixed;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 40px;
}

.controls{
    margin-top: 26px;
}

h2{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    padding-bottom: 60px;
    padding-top: 30px;
}

.mica-box {
    width: 315px;
    height: auto; /* Set the height to auto to match content height */
    background: rgba(23, 23, 23, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(10px); /* Safari-specific prefix */
    margin: 0 auto;
	user-select: none;
}


p1{
	font-family: 'Inter', sans-serif;
    font-weight: regular;
    font-size: 12px;
    color: #ffffff;
    padding-bottom: 60px;
    padding-top: 54px;
    padding-right: 213px;
}

.poem-text {
    white-space: pre-line;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin-left: 34px;
    margin-right: 34px;
    padding-bottom: 60px;
    padding-top: 0px;
    margin-top: -36px;
	user-select: none;
}

.mica-box h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: ffffff;
    margin-left: 34px;
    padding-top: 50px;
    margin-right: 34px;
}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
	font-size: 12px;
    color: #171717;
    padding-bottom: 60px;
    padding-top: 30px;
}