body {
    background-image: url('images/bg.png');
    background-size: cover; /* Adjust to cover the entire viewport */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-position: center center; /* Center the image */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    /* Center the container both horizontally and vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#messageContainer {
    margin-top: 20px;
    display: none;
}

#message {
    font-weight: bold;
}

p{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

h1{
    font-family: 'Inter', sans-serif;
    color: #fff;
}