@charset "UTF-8";
/* CSS Document */

.content-wrapper {
  	display: block;
 	margin: auto;
  	max-height: 1298px;
  	max-width: 1280px;
}

html{
	background: url("images/bg.png") no-repeat center center fixed;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.svg-container{
    width: 227px;
    height: 198px;
}

.logo{
    width: 227px;
    height: 198px;
}

.key{
    width: 90px;
    height: 90px;
    margin-top: -144px;
    padding-top: 0px;
    padding-bottom: 53px;
}

.enter{
    margin-top: 160px;
}
