@charset "UTF-8";
/* CSS Document */

html, body {
    /* Fix scroll issue */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-wrapper {
  	display: block;
 	margin: auto;
  	max-height: 1298px;
  	max-width: 1280px;
}

html{
	background: url("images/bg.png") no-repeat center center fixed;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.svg-container{
    width: 227px;
    height: 198px;
	margin-top: 74px;
    padding-bottom: 4px;
    margin-bottom: -60px;
}

.logo{
    width: 227px;
    height: 198px;
    margin-top: 72px;
}

.key{
    width: 90px;
    height: 90px;
    margin-top: -144px;
    padding-top: 0px;
    padding-bottom: 53px;
}

.enter{
    padding-top: 160px;
    margin-bottom: 181px;
}
